body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #e2e2e2;
}

h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background: #101745;
    color: white;
    font-weight: bold;
}

img {
    padding: 20px;
    width: 90px;
    height: 33px;
    position: absolute;
    left: -7px;
    top: -2px;
}


.box {
    width: 420px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 25px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    left: 40px;
}

.box h3 {
    text-align: justify;
    margin-bottom: 15px;
    color: #313030;
}

.box-main {
    position: absolute;
    top: 60px;
    right: 40px;
    width: 60%;

}

h1 {
    text-align: justify;
    margin-left: 110px;

}

h3 {
    text-align: justify;
    margin-left: 145px;
}

input, button, select {
    width: 94%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

}

input:focus, select:focus {
    outline: none;
    border: 1px solid #4a76e8;
}

.checkbox-group label {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 6px;
}

button {
    background: #3f4fb7;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
}

button:hover {
    background: #3a5cc0;
}

table {
    width: 90%;
    background: white;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sick-box {
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    color: white;
}

.sick-red {
    background: #d9534f;
}

.sick-green {
    background: #5cb85c;
}

th {
    background: #101745;
    color: white;
    padding: 12px;
    font-size: 15px;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background: #f8f9fc;
}

.btn-edit {
    background: #ff9800;
    padding: 6px 12px;
    border-radius: 5px;
}

.btn-edit:hover {
    background: #e68900;
}

.btn-delete {
    background: #d9534f;
    padding: 6px 12px;
    border-radius: 5px;
}

.btn-delete:hover {
    background: #b84441;
}